ul{
    list-style-type: none;
}

.flex{
    display: flex;
}
main{
    width:80%;
}

nav{
    width:20%;
    background-color: cyan;
}

nav a{
    text-decoration: none;
}

body,p,h1,h2,a,nav,ul,li{
    margin:0;
    padding:0;
}
